<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base-adm :: layout(~{::content})">
    <div th:fragment="content">
        <div class="div-cadastrar">
            <h2>Cadastro de Sala</h2>
            <form th:action="@{/cadastrar/turma}" th:method="POST" th:object="${turma}" class="form-cadastro">
                <label for="nome">Nome da Turma:</label>
                <input id="nome" th:field="*{nome}" type="text" placeholder="Ex: Turma 01" required>
                <div class="error" th:errors="*{nome}"></div>

                <label for="periodo">Período:</label>
                <select id="periodo" th:field="*{periodo}">
                    <option th:each="p : ${periodos}" 
                            th:value="${p}" 
                            th:text="${p}">
                    </option>
                </select>
                <div class="error" th:errors="*{periodo}"></div>

                <label for="curso">Curso:</label>
                <input id="curso" th:field="*{curso}" type="text" placeholder="Ex: Eletromecânica" required>
                <div class="error" th:errors="*{curso}"></div>

                <label for="sala">Sala:</label>
                <select id="sala" th:field="*{sala.id_sala}">
                    <option value="">Selecione</option>
                    <option th:each="s : ${salas}"
                            th:value="${s.id_sala}"
                            th:text="${s.nome}">
                    </option>
                </select>
                <div class="error" th:errors="*{sala}"></div>

                <label>Disciplinas:</label>
                <div th:each="d : ${disciplinas}" class="form-check">
                    <input class="form-check-input"
                        type="checkbox"
                        th:field="*{disciplinas}"
                        th:value="${d.idDisciplina}"
                        th:id="${'disciplina_' + d.idDisciplina}">
                    <label class="form-check-label"
                        th:for="${'disciplina_' + d.idDisciplina}"
                        th:text="${d.nome}">
                    </label>
                </div>
                <div class="error" th:errors="*{disciplinas}"></div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</html>