<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base-adm :: layout(~{::content})">
    <div th:fragment="content">
        <div class="div-cadastrar">
            <h2>Cadastro de Sala</h2>
            <form th:action="@{/cadastrar/horario}" th:method="POST" th:object="${horario}" class="form-cadastro">
                <label for="periodo">Período:</label>
                <div class="error" th:errors="*{periodo}"></div>
                <select th:field="*{periodo}" id="periodo">
                    <option value="">Selecione...</option>
                    <option th:value="matutino">Matutino</option>
                    <option th:value="vespertino">Vespertino</option>
                    <option th:value="noturno">Noturno</option>
                </select>
                <label for="p_aula">1°Aula:</label>
                <input id="p_aula" th:field="*{p_aula}" type="time" required>
                <div class="error" th:errors="*{p_aula}"></div>

                <label for="sg_aula">2° Aula:</label>
                <input id="sg_aula" th:field="*{sg_aula}" type="time" required>
                <div class="error" th:errors="*{sg_aula}"></div>

                <label for="t_aula">3° Aula:</label>
                <input id="t_aula" th:field="*{t_aula}" type="time" required>
                <div class="error" th:errors="*{t_aula}"></div>

                <label for="qa_aula">4° Aula:</label>
                <input id="qa_aula" th:field="*{qa_aula}" type="time" required>
                <div class="error" th:errors="*{qa_aula}"></div>

                <label for="qi_aula">5° Aula:</label>
                <input id="qi_aula" th:field="*{qi_aula}" type="time">
                <div class="error" th:errors="*{qi_aula}"></div>

                <label for="sx_aula">6° Aula:</label>
                <input id="sx_aula" th:field="*{sx_aula}" type="time">
                <div class="error" th:errors="*{sx_aula}"></div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</html>