<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base-adm :: layout(~{::content})">
    <div th:fragment="content">
        <div class="div-cadastrar">
            <h2>Cadastro de Sala</h2>
            <form th:action="@{/cadastrar/horario}" th:method="POST" th:object="${horario}" class="form-cadastro">
                <label for="diaSemana">Período:</label>
                <input id="diaSemana" th:field="*{diaSemana}" type="text" required placeholder="Ex: Seg">
                <div class="error" th:errors="*{diaSemana}"></div>

                <label for="horaInicio">Inicio:</label>
                <input id="horaInicio" th:field="*{horaInicio}" type="time" required>
                <div class="error" th:errors="*{horaInicio}"></div>

                <label for="horaFim">Fim:</label>
                <input id="horaFim" th:field="*{horaFim}" type="time" required>
                <div class="error" th:errors="*{horaFim}"></div>

                <label for="turma">Turma:</label>
                <input id="turma" th:field="*{turma}" type="text" required>
                <div class="error" th:errors="*{turma}"></div>

                <label for="disciplina">Disciplina:</label>
                <input id="disciplina" th:field="*{disciplina}" type="text" required>
                <div class="error" th:errors="*{disciplina}"></div>

                <label for="professor">Professor:</label>
                <input id="professor" th:field="*{professor}" type="text">
                <div class="error" th:errors="*{professor}"></div>

                <label for="sala">Sala:</label>
                <input id="sala" th:field="*{sala}" type="text">
                <div class="error" th:errors="*{sala}"></div>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</html>