<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base-adm :: layout(~{::content})">

<div th:fragment="content">
    <div class="topo-listagem">
        <h3>Disciplinas</h3>
        <a th:href="@{/cadastrar/disciplina}" class="btn-cadastrar">+ Nova Disciplina</a>
    </div>

    <form method="GET" th:action="@{/listar/disciplinas}" class="form-busca">
        <input type="text" name="busca" th:value="${busca}" placeholder="Buscar disciplina...">
        <button type="submit">Buscar</button>
    </form>

    <div class="tabela tabela-header">
        <div>ID</div>
        <div>Nome</div>
        <div>Carga Horária</div>
        <div>Área</div>
        <div>Professores</div>
        <div>Turmas</div>
        <div>Ações</div>
    </div>

    <div th:each="disciplina : ${disciplinas.content}" class="tabela tabela-linha">
        <div th:text="${disciplina.idDisciplina}"></div>
        <div th:text="${disciplina.nome}"></div>
        <div th:text="${disciplina.carga + 'h'}"></div>
        <div th:text="${disciplina.area}"></div>
        <div th:text="${#lists.size(disciplina.professores)}"></div>
        <div th:text="${#lists.size(disciplina.turmas)}"></div>

        <div>
            <a th:href="@{/editar/disciplina/{id}(id=${disciplina.idDisciplina})}">
                Editar
            </a>
            <a th:href="@{/deletar/disciplina/{id}(id=${disciplina.idDisciplina})}"
               onclick="return confirm('Deseja realmente deletar?')">
                Deletar
            </a>
        </div>
    </div>
    <div class="paginacao_cae">
        <a th:if="${!disciplinas.first}" th:href="@{/listar/disciplinas(page=${disciplinas.number - 1}, busca=${busca})}">Anterior</a>
        <span th:each="i : ${#numbers.sequence(0, disciplinas.totalPages - 1)}">
            <a th:href="@{/listar/disciplinas(page=${i}, busca=${busca})}" th:text="${i + 1}" th:classappend="${i == disciplinas.number} ? 'pagina-ativa'"></a>
        </span>
        <a th:if="${!disciplinas.last}" th:href="@{/listar/disciplinas(page=${disciplinas.number + 1}, busca=${busca})}">Próximo</a>
    </div>

</div>
</html>