<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="layout/base-adm :: layout(~{::content})">
<div th:fragment="content">
    <div class="topo-listagem">
        <h3>Professores</h3>
        <a th:href="@{/cadastrar/professor}" class="btn-cadastrar">+ Novo Professor</a>
    </div>

    <form method="GET" th:action="@{/listar/professores}" class="form-busca">
        <input type="text" name="busca" th:value="${busca}" placeholder="Buscar professor...">
        <button type="submit">Buscar</button>
    </form>

    <div class="tabela tabela-header">
        <div>Foto</div>
        <div>Prontuário</div>
        <div>Nome</div>
        <div>Email</div>
        <div>Área de atuação</div>
        <div>Ações</div>
    </div>

    <div th:each="professor : ${professores.content}" class="tabela tabela-linha">
        <div>
            <img th:src="${professor.imagem}" width="40" alt="Foto de perfil do professor">
        </div>
        <div th:text="${professor.prontuario}"></div>
        <div th:text="${professor.nome}"></div>
        <div th:text="${professor.email}"></div>
        <div th:text="${professor.area}"></div>
        <div class="acoes">
            <a th:href="@{/detalhes/professor/{id}(id=${professor.id})}">
                Detalhes
            </a>

            <a th:href="@{/api/relatorios/professor/{id}(id=${professor.id})}" target="_blank" class="btn-pdf">

                <i class="bi bi-file-earmark-pdf-fill"></i>
            </a>
        </div>
    </div>
    <div class="paginacao_cae">
        <!-- ANTERIOR -->
        <a th:if="${!professores.first}"
            th:href="@{/listar/professores(page=${professores.number - 1}, busca=${busca})}">Anterior</a>
        <!-- NÚMEROS -->
        <span th:each="i : ${#numbers.sequence(0, professores.totalPages - 1)}">
            <a th:href="@{/listar/professores(page=${i}, busca=${busca})}" th:text="${i + 1}"
                th:classappend="${i == professores.number} ? 'pagina-ativa'"></a>
        </span>
        <!-- PRÓXIMO -->
        <a th:if="${!professores.last}"
            th:href="@{/listar/professores(page=${professores.number + 1}, busca=${busca})}">Próximo</a>
    </div>
</div>

</html>