/*----- Todo o Site -----*/
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

/*----- Login ou index -----*/
#main-login{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
#login{
    width: 90%;
    max-width: 400px;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: -4px 4px 8px black;
    width: 500px;
    height: 500px;
    background-color: #32a041;
    gap: 30px;
    padding: 20px;
    color: white;
}
#form-login{
    display: grid;
    gap: 10px;
}
.input-login{
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.input-login:focus{
    outline: 2px solid #1e6f2d;
}
#botao-login{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #1e6f2d;
    color: white;
}
#botao-login:hover{
    cursor: pointer;
    background-color: #15521f;
}

/*----- Menu principal do administrador -----*/
#menu-principal {
    height: 100vh;
    width: 200px; /* define largura do menu lateral */
    background-color: #15521f;
    color: white;
    padding: 20px;
}

#ul-nav {
    padding: 0;
}

.li-nav {
    margin-top: 15px;
    list-style: none;
}

.li-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.li-nav a:hover {
    text-decoration: underline;
}

/*----- Home dos Usuários -----*/
header {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    background-color: green;
    width: 100%;
    height: 100px;
    padding: 5px 0px;
}

.search {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 250px;
}

button {
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: lightgray;
}

main {
    width: 1200px;
    background-color: gray;
}

.teste {
    width: 500px;
    height: 250px;
}

.imglogo {
    background-color: darkgray;
    height: 80px;
    width: 120px;
    margin: 10px;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
}

.ftperfil {
    background-color: azure;
    width: 75px;
    height: 75px;
    border: 0px;
    border-radius: 50px;
}

.linkperfil {
    color: white;
}