<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/src/main/resources/static/layout/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img class="imglogo" src="/src/main/resources/static/Imagens/logo.png" alt="#">
            </a>
        </div>

        <div>
            <form action="/" method="POST">
                <input class="search" type="text" placeholder="Pesquisar">

                <button type="submit">Confirmar</button>
            </form>
        </div>

        <div class="perfil">
            <img class="ftperfil" src="#" alt="#">
            <a class="linkperfil" href="#">Perfil</a>
        </div>
    </header>
    <main>
        <nav id="menu-principal">
        <h2>Sistema</h2>
        <ul id="ul-nav">
            <li class="li-nav">
                <a href="#">Horários</a>
            </li>
            <li class="li-nav">
                <a href="#">Salas</a>
            </li>
            <li class="li-nav">
                <a href="#">Minhas Turmas</a>
            </li>
            <li class="li-nav">
                <a href="#">Sair</a>
            </li>
        </ul>
    </nav>
    <h1>teste</h1>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>