<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout/style.css">
    <title>SEA</title>
</head>
<body>
    <main id="main-login">
        <div id="login">
            <img src="/Imagens/Logo.png" alt="Logotipo do SEA, Sistema de Ensalamento de Aluno" width="250" height="150">
            <form action="#" method="post" id="form-login">
                <label for="prontuario">Prontuário:</label>
                <input class="input-login" id="prontuario" name="prontuario" type="text" placeholder="Digite seu Prontuário" required>
                <label for="senha">Senha:</label>
                <input class="input-login" id="senha" name="senha" type="password" required>
                <button id="botao-login" type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>