<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/layout/style.css}">

    <title>SEA - Login</title>
</head>

<body>

    <main id="main-login">

        <div id="login">

            <img th:src="@{/Imagens/logo.png}" alt="Logotipo do SEA" width="250" height="150">

            <!-- Mensagem de erro -->
            <div th:if="${param.error}" class="erro-login">

                Prontuário ou senha inválidos.

            </div>

            <div th:if="${param.logout}"
     id="toast"
     class="toast toast-success">

    Você saiu do sistema com sucesso.

</div>

            <form th:action="@{/login}" method="post" id="form-login">

                <label for="prontuario">
                    Prontuário:
                </label>

                <input class="input-login" id="prontuario" name="prontuario" type="text"
                    placeholder="Digite seu prontuário" required>

                <label for="senha">
                    Senha:
                </label>

                <input class="input-login" id="senha" name="senha" type="password" placeholder="Digite sua senha"
                    required>

                <button id="botao-login" type="submit">

                    Entrar

                </button>

            </form>

        </div>

    </main>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>