<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/layout/style.css">
    <title>SEA</title>
</head>
<body>
    <nav id="menu-principal">
        <h2>Sistema</h2>
        <ul id="ul-nav">
            <li class="li-nav"><a class="a-nav" href="#">Painel</a></li>
            <li class="li-nav"><a class="a-nav" href="#">Alunos</a></li>
            <li class="li-nav"><a class="a-nav" href="#">Professores</a></li>
            <li class="li-nav"><a class="a-nav" href="#">Salas</a></li>
            <li class="li-nav"><a class="a-nav" href="#">Turmas</a></li>
            <li class="li-nav"><a class="a-nav" href="#">Sair</a></li>
        </ul>
    </nav>
</body>
</html>