<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/base-alunoprof :: layout(~{::title}, ~{::body})}">

<head>
    <title>Conta</title>
</head>

<body>
    <main>
        <div class="flexC">
            <div class="conta">
                <div class="perfilcontainer">
                    <div class="user">
                        <img th:if="${usuario.imagem != null}" th:src="${usuario.imagem}" class="userimg">

                        <img th:if="${usuario.imagem == null}" src="/Imagens/user.png" class="userimg">
                    </div>
                    <div class="msgperfil">
                        <h2 th:text="'Olá, ' + ${usuario.nome} + '!'"></h2>
                    </div>
                </div>
                <div class="infos">
                    <div class="info">
                        <h3>Nome:</h3>
                        <p th:text="${usuario.nome}"></p>
                    </div>

                    <div class="info">
                        <h3>Prontuário:</h3>
                        <p th:text="${usuario.prontuario}"></p>
                    </div>

                    <div class="info">
                        <h3>Email:</h3>
                        <p th:text="${usuario.email}"></p>
                    </div>

                    <div th:if="${usuario.tipoUsuario.name() == 'ALUNO'}">
                        <div class="info">
                            <h3>Turma:</h3>
                            <p th:text="${usuario.turma != null ? usuario.turma.nome : 'Sem turma'}"></p>
                        </div>
                    </div>

                    <div th:if="${usuario.tipoUsuario.name() == 'PROFESSOR'}">
                        <div class="info">
                            <h3>Área:</h3>
                            <p th:text="${usuario.area}"></p>
                        </div>
                    </div>

                    <div th:if="${usuario.tipoUsuario.name() == 'CAE'}">
                        <div class="info">
                            <h3>Nível de acesso:</h3>
                            <p>Administrador CAE</p>
                        </div>
                    </div>
                </div>
                <div class="aulas">

                    <h2 class="h2grade">Grade Horária</h2>

                    <div class="grade-wrapper">

                        <table class="grade-table">

                            <thead>

                                <tr>

                                    <th>Horário</th>

                                    <th>SEG</th>

                                    <th>TER</th>

                                    <th>QUA</th>

                                    <th>QUI</th>

                                    <th>SEX</th>

                                </tr>

                            </thead>

                            <tbody>

                                <tr th:each="linha : ${grade}">

                                    <td class="horario" th:text="${linha.horario}">
                                    </td>

                                    <td>

                                        <div class="grade-card" th:if="${linha.seg != null}"
                                            th:style="'background:' + ${linha.corSeg}">

                                            <span th:utext="${linha.seg}"></span>

                                        </div>

                                    </td>

                                    <td>

                                        <div class="grade-card" th:if="${linha.ter != null}"
                                            th:style="'background:' + ${linha.corTer}">

                                            <span th:utext="${linha.ter}"></span>

                                        </div>

                                    </td>

                                    <td>

                                        <div class="grade-card" th:if="${linha.qua != null}"
                                            th:style="'background:' + ${linha.corQua}">

                                            <span th:utext="${linha.qua}"></span>

                                        </div>

                                    </td>

                                    <td>

                                        <div class="grade-card" th:if="${linha.qui != null}"
                                            th:style="'background:' + ${linha.corQui}">

                                            <span th:utext="${linha.qui}"></span>

                                        </div>

                                    </td>

                                    <td>

                                        <div class="grade-card" th:if="${linha.sex != null}"
                                            th:style="'background:' + ${linha.corSex}">

                                            <span th:utext="${linha.sex}"></span>

                                        </div>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>